<html>

<head>
    <link rel="stylesheet" href="../css/structure.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body style="margin: 0px" class="footer-body">
    <div class='footer'>
        <div>
            <h3>Catena-x Automotive Network e.V.i.G. </h3>
            <span>c/o IFOK GmBH
            </span>
        </div>

        <div class='footer-plain-text'>
            <span>ReinhardtstraBe 58 <br>10117 Berlin <br>E-Mail: <a
                    href='mailto:info@catena-x.net?subject=Register Mail Reply&body=Please describe your request in this mail body'>info@catena-x.net</a>
            </span>
        </div>

        <div class='footer-plain-text'>
            <span>Vertretungsberechtigter Vorstand: Oliver Ganser (Vorstandsvorsitzender)
            </span>
        </div>
    </div>
</body>

</html>